<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="onlineUsersStorage"
             allowLocation="true"
             allowDefinition="Everywhere"
             type="WebPortal.BusinessLogic.OnlineUsers.OnlineUsersStorageConfigSection" />
  </configSections>

  <onlineUsersStorage timerDueTime ="30" entryLifetimePeriod ="15">
    
  </onlineUsersStorage>
</configuration>